.places__title {
  font-size: 72px;
  font-weight: 900;
  line-height: 1.06;
  margin: 0;
}

@media screen and (max-width: 1023px) {
  .places__title {
    font-size: calc(42px + 30 * ((100vw - 768px) / 255));
    line-height: 1.12;
  }
}

@media screen and (max-width: 767px) {
  .places__title {
    font-size: calc(32px + 10 * ((100vw - 320px) / 447));
  }
}
