.intro__title {
  max-width: 690px;
  font-weight: 900;
  font-size: 54px;
  line-height: 1.1;
  margin: 0 0 40px;
}

@media screen and (max-width: 767px) {
  .intro__title {
    font-size: calc(32px + 22 * ((100vw - 320px) / 447));
  }
}

@media screen and (max-width: 631px) {
  .intro__title {
    max-width: 87%;
  }
}
